@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-0 .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-0 .mbr-navbar__hamburger {
  color: #2c82c9;
}
#menu-0 .mbr-brand__name a {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-size: 24px;
}
#header1-3 H1 {
  text-align: left;
  color: #ffffff;
}
#header1-3 P {
  color: #faaf40;
  font-size: 22px;
}
#features1-5 P {
  color: #1abc9c;
}
#features1-5 .mbr-section__col .mbr-header__text {
  color: #c1c1c1;
}
#features1-5 B {
  color: #f97352;
}
#contacts3-1 STRONG {
  font-size: 16px;
}
#footer1-2 P {
  color: #c1c1c1;
}

#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-9 .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-9 .mbr-navbar__hamburger {
  color: #2c82c9;
}
#menu-9 .mbr-brand__name a {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#menu-9 .mbr-navbar__items a {
  font-size: 24px;
}
#contacts3-a STRONG {
  font-size: 16px;
}
#footer1-b P {
  color: #c1c1c1;
}

#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-i .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-i .mbr-navbar__hamburger {
  color: #2c82c9;
}
#menu-i .mbr-brand__name a {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#menu-i .mbr-navbar__items a {
  font-size: 24px;
}
#header1-j H1 {
  text-align: left;
  color: #ffffff;
}
#header1-j P {
  color: #a38f84;
  font-size: 22px;
}
#footer1-m P {
  color: #c1c1c1;
}


#header3-s H3 {
  font-family: 'Lora', serif;
  font-size: 36px;
  text-align: center;
  color: #553982;
}
#header3-s P {
  text-align: center;
}
#content1-z P {
  text-align: right;
}
#menu-n .mbr-brand__name {
  font-size: 16px;
}
#menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-n .mbr-navbar__section {
  background: #3d8eb9;
}
#menu-n .mbr-navbar__hamburger {
  color: #2c82c9;
}
#menu-n .mbr-brand__name a {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#menu-n .mbr-navbar__items a {
  font-size: 24px;
}
#contacts3-q STRONG {
  font-size: 16px;
}
#footer1-r P {
  color: #c1c1c1;
}
